* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Console", "Courier New", monospace;
  text-transform: uppercase;
}

.intro {
  height: 100vh;
  width: 100vw;
}

audio {
  position: absolute;
  top: 90vh;
  left: 50px;
  width: 300px;
  height: 20px;
}

.intro h1 {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 100;
  color: white;
}

#chevron{
  position: absolute;
  width: 40px;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
